@media screen and (max-width: 1200px) {
	.tabs__item {
		font-size: 1rem;
		margin-right: 40px;
	}
	.carousel-control-next {
top: 136px;
left: 280px;
}
.car-bg {
	display: none;
}

}

@media screen and (max-width: 992px) {
	h1 {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	h2:before {
		display: none;
	}
	h2:after {
		content: '';
		display: block;
		background: #d84d4d;
		width: 28px;
		height: 9px;
		position: absolute;
		left: 50%;
		margin-left: -14px;
		margin-top: 10px;
	}

	.carousel-control-next {
	display: none;
	}

.carousel-control-prev {
	display: none;
	}
.forCarosel {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.tabs__item {
		display: block;
		margin-bottom: 30px;
		margin-right: 0px;
	}
	.gallery, .order-block {
		width: 100%;
	}
	.gallery {
		margin-top: 40px;
	}
	.photos img {
	    margin-top: 60px;
	    margin: 60px auto 10px auto;
	}
	.car-bg {
		display: none;
	}
	.gallery__arrow {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.contacts {
		display: none;
	}
	h1 {
		font-size: 2.333rem;
	}
	.services__item {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0px;
		background-position: center top;
		padding-top: 100px;
	}
}

@media screen and (max-width: 400px) {
	.contacts {
		display: none;
	}
	h1 {
		font-size: 1.8rem;
	}
	.services__item {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0px;
		background-position: center top;
		padding-top: 100px;
	}
}